body {
font-family: Tahoma, sans-serif;
background: #0f172a;
color: #fff;
margin: 0;
padding: 20px;
}


h1 { text-align: center; }


input {
width: 100%;
padding: 10px;
margin-bottom: 20px;
}


.grid {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
gap: 15px;
}


.card {
background: #1e293b;
padding: 10px;
border-radius: 10px;
}


.card img {
width: 100%;
border-radius: 8px;
}
